body{
  margin: 0;
  background: url("../../public/background.png");
  background-size: auto;
  background-repeat: repeat-y;
}

header{
  display: flex;
  justify-content: center;
}

.logo{
  height: 80px;
}

.main{
  margin: 20px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.label{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

@media (max-width:992px) {
  .main{
    display: flex;
    align-items: center;
  }
  .logo{
    height: 100px;
  }
  .label{
    font-size: 20px;
  }
}