.main {
    display: flex;
    height: 100vh;
    gap: 200px;
}

.sidemenu {
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid white;
    width: 20%;
    height: 100%;
}

.sidemenutext {
    font-family: 'Roboto Serif', serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.sidemenup {
    border-bottom: 1px solid white;
    border-width: 100%;
    margin: 0;
    padding: 5px;
    line-height: 1.7;
}

.links{
    text-decoration: none;
    color: white;
}

.links:hover{
    background-color: #004B5C;
}

.outside{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 120px;
    margin-right: 80px;
}

.talktous {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 70%;
}

.outsidetext{
    font-family: 'Roboto Serif', serif;
    font-size: 25px;
    text-align: right;
    width: 100%;
}