body {
    margin: 0;
    background: url("../../public/background.png");
    font-family: 'Quicksand', sans-serif;
    color: white;
}

main {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

table {
    color: white;
    background-color: black;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table,
th,
td {
    border: 2px solid;
}

th{
    height: 50px;
}

td{
    height: 30px;
}

.table-first-column{
    text-align: left;
}

.info-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

@media (min-width: 601px) {
}

@media (max-width: 600px) {
}