.btn{
    font-family: 'Roboto Serif', serif;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    font-size: 32px;
    padding: 18px;
    width: 300px;
    border-radius: 16px;
    cursor: pointer;
}

.btn:hover{
    background-color: #7DB61C;
    border: 1px solid #7DB61C;
    color: #003641;
}