#main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#display {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    width: 90%;
}

input::placeholder {
    color: white;
    text-align: center;
}

input {
    border: none;
}

p {
    font-size: 15px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.521);
    width: fit-content;
}

#info{
    display: flex;
    width: 100%;
    background-color: #636B74;
    height: 35px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}