.main {
    display: flex;
    flex-direction: column;
}

.input-title {
    font-size: 15px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.521);
    width: fit-content;
}

@media (max-width:992px) {
    .input-title {
        font-size: 15px;
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.521);
        width: fit-content;
    }
}