.App{
  background: url("../public/background.png");
  background-size: auto;
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.main{
  display: flex;
  flex-direction: column;
}

@media (min-width:320px) {
  .logo{
    height: 100px;
  }
  .label{
    font-size: 20px;
  }
}