.App{
  background: url("../public/background.png");
  background-size: auto;
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main{
  display: flex;
  flex-direction: column;
}